### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = r"purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# total number of unique players
u_players = purchase_data.SN.nunique()
u_players

576

In [3]:
# dataframe for unique players
player_unq = purchase_data.drop_duplicates("SN")
player_unq.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# variable for total unique items
u_items = purchase_data["Item ID"].nunique()
u_items

183

In [5]:
# variable for total number of purchases
tot_pur = purchase_data["Purchase ID"].count()
tot_pur

780

In [6]:
# variable for average price of total purchases
avg_price = purchase_data.Price.mean()
avg_price

3.050987179487176

In [7]:
# variable for total revenue of purchases
tot_rev = purchase_data.Price.sum()
tot_rev

2379.77

In [8]:
# create summary data frame
purchase_df = pd.DataFrame({"Number of Unique Items": [u_items],
                          "Average Purchase Price": [avg_price],
                          "Total Number of Purchases": [tot_pur],
                          "Total Revenue": [tot_rev]})
purchase_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# variable for total number of gender types
gendercount = player_unq.Gender.value_counts()
gendercount

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [10]:
# variable for gender percentages
genderperc = (player_unq.Gender.value_counts(normalize = True) 
              * 100).round(2)
genderperc

Male                     84.03
Female                   14.06
Other / Non-Disclosed     1.91
Name: Gender, dtype: float64

In [11]:
# dataframe for summary of gender demographics
gender_sum = pd.DataFrame({"Total Count":gendercount,
                            "Percentage of Players":genderperc})
gender_sum

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
# variable for gender count in original dataframe
gender_org = player_unq.copy()
gender_org = purchase_data.Gender.value_counts()
gender_org

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [13]:
# rearrange column names
sequence = ['Female','Male','Other / Non-Disclosed']
gendertotal = gender_org.reindex(sequence)
gendertotal

Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [14]:
# create data variable for average purchase price by gender
gender_group = purchase_data.groupby(["Gender"])
gender_price = gender_group.Price.mean()
gender_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [15]:
# total revenue by gender
gender_purch = gender_group.Price.sum()
gender_purch

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [16]:
# average purchase per person by gender
purch_person = gender_purch / gendercount
purch_person

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [17]:
# dataframe for purchasing analysis by gender
gen_summary = pd.DataFrame()
gen_summary["Purchase Count"] = gendertotal
gen_summary["Average Purchase Price"] = gender_price.round(2)
gen_summary["Total Purchase Value"] = gender_purch.round(2)
gen_summary["Average Total Purchase Per Person"] = purch_person.round(2)
gen_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 101]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [19]:
# copy dataframe of unique players to use in calculating age demographics
age_df = player_unq.copy()
age_df["Age Demographics"] = pd.cut(player_unq["Age"],bins, labels=groups)
age_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [20]:
agerange = age_df["Age Demographics"].value_counts().index.values
agerange

[20-24, 15-19, 25-29, 30-34, 35-39, 10-14, <10, 40+]
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [21]:
# view number of players within each bin
agebincounts = age_df["Age Demographics"].value_counts().sort_index()
agebincounts

<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age Demographics, dtype: int64

In [22]:
# calculate percentage of players in each age bin
agebinperc = age_df["Age Demographics"].value_counts(normalize = True) * 100
agebinperc

20-24    44.791667
15-19    18.576389
25-29    13.368056
30-34     9.027778
35-39     5.381944
10-14     3.819444
<10       2.951389
40+       2.083333
Name: Age Demographics, dtype: float64

In [23]:
# summarize age demographics
age_bin_summary = pd.DataFrame()
age_bin_summary["Total Count"] = agebincounts
age_bin_summary["Percentage of Players"] = agebinperc
age_bin_summary.sort_index()

       Total Count  Percentage of Players
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
purchbins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 101]
purchgroups = ["<10", "10-14", "15-19", "20-24", "25-29", 
               "30-34", "35-39", "40+"]

age_pur_df = purchase_data.copy()
age_pur_df["Age Demographics"] = pd.cut(purchase_data["Age"],
                                        purchbins,labels=purchgroups)
age_pur_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [25]:
# number of players in each age bin
democount = age_pur_df["Age Demographics"].value_counts().sort_index()
democount

<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age Demographics, dtype: int64

In [26]:
# average price by age bin
ageavgprice = age_pur_df.groupby(["Age Demographics"])
age_price = ageavgprice.Price.mean().sort_index()
age_price

Age Demographics
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [27]:
groupageprice = ageavgprice.Price.sum()
groupageprice

Age Demographics
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [28]:
purch_age = groupageprice / agebincounts
purch_age

Age Demographics
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [29]:
age_sum_df = pd.DataFrame({"Age Ranges": purchgroups,
                        "Purchase Count" : democount,
                        "Average Purchase Price" : age_price,
                        "Total Purchase Value" : groupageprice,
                        "Avg Total Purchase Per Person" : purch_age})
age_sum_df

,Age Ranges,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
<10,<10,23,3.353478,77.13,4.537059
10-14,10-14,28,2.956429,82.78,3.762727
15-19,15-19,136,3.035956,412.89,3.858785
20-24,20-24,365,3.052219,1114.06,4.318062
25-29,25-29,101,2.900990,293.00,3.805195
30-34,30-34,73,2.931507,214.00,4.115385
35-39,35-39,41,3.601707,147.67,4.763548
40+,40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [30]:
spenders = purchase_data.copy()
spenders = purchase_data["SN"].value_counts()
spenders.head()

Lisosia93      5
Idastidru52    4
Iral74         4
Iri67          3
Asur53         3
Name: SN, dtype: int64

In [31]:
spenders = pd.DataFrame(data=spenders)
spenders.columns = ["Purchase Count"]

In [32]:
spenders_group = purchase_data.groupby(["Price"])
spenders_comp = gender_group.mean()
spendersprice = spenders_comp.Price.values
spendersprice

array([3.20300885, 3.01785276, 3.346     ])

In [33]:
spendersid = purchase_data["Item ID"].value_counts()
spendersid.head()

178    12
82      9
108     9
145     9
92      8
Name: Item ID, dtype: int64

In [34]:
spenders["Average Purchase Price"] = round(purchase_data["Price"].groupby(purchase_data["SN"])
                                           .mean(),2)
spenders["Total Purchase Value"] = purchase_data["Price"].groupby(purchase_data["SN"]).sum()
spenders = spenders.sort_values(by = "Total Purchase Value", ascending=False)
spenders["Average Purchase Price"] = spenders["Average Purchase Price"]
spenders["Total Purchase Value"] = spenders["Total Purchase Value"]
spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
popular_items = purchase_data.copy()
popular_items = purchase_data["Item ID"].value_counts()
popular_items.head()

178    12
82      9
108     9
145     9
92      8
Name: Item ID, dtype: int64

In [36]:
popular_items = pd.DataFrame(data=popular_items)
popular_items.columns = ["Purchase Count"]
popular_items.head()

     Purchase Count
178              12
82                9
108               9
145               9
92                8

In [37]:
first = purchase_data.groupby(["Item ID", "Item Name"]).size().reset_index()
second = first[["Item ID", "Item Name"]].set_index("Item ID")["Item Name"]
popular_items["Item Name"] = second
popular_items["Item Price"] = round(purchase_data["Price"].groupby(purchase_data["Item ID"]).mean(),2)
popular_items["Total Purchase Value"] = purchase_data["Price"].groupby(purchase_data["Item ID"]).sum()
popular_items = popular_items.sort_values(by = "Purchase Count", ascending = False)
popular_items.head()

,Purchase Count,Item Name,Item Price,Total Purchase Value
178,12,"Oathbreaker, Last Hope of the Breaking Storm",4.23,50.76
108,9,"Extraction, Quickblade Of Trembling Hands",3.53,31.77
145,9,Fiery Glass Crusader,4.58,41.22
82,9,Nirvana,4.90,44.10
72,8,Winter's Bite,3.77,30.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [38]:
sort_pop_df = popular_items.sort_values(by = "Total Purchase Value", 
                                        ascending = False)
sort_pop_df.head()

,Purchase Count,Item Name,Item Price,Total Purchase Value
178,12,"Oathbreaker, Last Hope of the Breaking Storm",4.23,50.76
82,9,Nirvana,4.90,44.10
145,9,Fiery Glass Crusader,4.58,41.22
92,8,Final Critic,4.88,39.04
103,8,Singed Scalpel,4.35,34.80

# Observations:
Based on the data provided, the primary customer is a 20-24 year old male spending an estimated $4 in each purchase. This demographic does not spend the most per person, but this group generates the largest portion of revenue. 

Additional variables to consider for focused advertising are:
    - Country of Login
    - Nationality
    - Education Level
    - Work Industry